:root {
  --color-green: #0f0;
}

body {
  background-color: gray !important;
  opacity: 0.7;
  color: var(--color-green);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  background-position: top center;
  font-weight: bold;
  text-transform: capitalize;
  border: 1px solid gray;
  z-index: 1;
}

.frame {
  background-image: url("/queen.png") !important;
  z-index: 2;
}

.background-test {
  background: gray url("/grey.png") top center; 
  z-index: -9;
}

li {
  list-style-image: url("photograph.jpg");
}

@media screen and (min-width: 300px) {
  .hello {
    content: "subjects";
    color: gray;
  }

  .hello::after {
    content: "centre";
  }
}
