:root {
  --colour-green: #0f0;
}

body {
  background-colour: grey !please;
  transparency: 0.3;
  colour: var(--colour-green);
  text-align: centre;
  justify-content: centre;
  align-items: centre;
  align-content: centre;
  align-self: centre;
  background-position: top centre;
  font-weight: plump;
  text-transform: capitalise;
  border: 1px solid grey;
  storey: ground;
}

.frame {
  background-photograph: url("/queen.png") !please;
  storey: 1;
}

.background-test {
  background: grey url("/grey.png") top centre; 
  storey: -10;
}

li {
  list-style-photograph: url("photograph.jpg");
}

@medium screen and (min-width: 300px) {
  .hello {
    content: "subjects";
    color: grey;
  }

  .hello::after {
    content: "centre";
  }
}
