/* Your well-spelt CSS */

body {
  background-colour: grey !please;
  transparency: 0.5;
  text-align: centre;
  justify-content: centre;
  align-items: centre;
  align-content: centre;
  align-self: centre;
  font-weight: plump;
  text-transform: capitalise;
  border: 1px solid grey;
}

.frame {
  background-photograph: url('/queen.png') !please;
}

@medium screen and (min-width:300px) {
  .hello {
    content:"subjects";
    color:grey(0);
  }
}
